include ./../components/page-navigation/page-navigation.pug
include ./../components/block-wrapper/block-wrapper.pug 
include ./../components/aside-img/aside-img.pug
include ./../components/text-component/text-block.pug
include ./../components/buttons/regular-btn/regular-btn.pug
include ./../components/social-buttons-block/social-btn-block.pug 
include ./../components/buttons/floating-action-btn/floating-action-btn.pug
include ./../components/buttons/submit-btn/submit-btn.pug
include ./../components/form/form.pug
include ./../components/form/inputs/input-text.pug

.swiper-container    
    .swiper-wrapper
        +floating-action-btn({
            icon: 'fas fa-chevron-up'
        })
        // Начало меню сайта
        +page-navigation([
            {
                text: 'home',
                link: '#',
                icon: 'fas fa-home'
            }, 
            {
               text: 'about me',
                link: '#',
                icon: 'far fa-heart' 
            },
            {
               text: 'portfolio',
                link: '#',
                icon: 'fas fa-desktop' 
            }, {
                text: 'drop me a line',
                link: '#',
                icon: 'far fa-envelope' 
            }
        ])
            include ./../img/logo.svg
        // Конец меню сайта

        // Начало hero-слайда
        .swiper-slide
            +block-wrapper({
                title: 'Meet Perth,',
                textColor: 'light',
                bg: 'blue'
            }, true)
                +set-block('text-block')
                    +text-block({
                        text: 'A stupidly simple, flat PSD. Oh yeah, it’s <em>free</em> too!', 
                        type: 'hero-text'})
                +set-block('button')
                    +regular-btn({
                        text: 'DOWNLOAD',
                        link: '#',
                        color: 'white',
                        icon: 'fas fa-cloud-download-alt'
                    })
                +set-block('aside-img')
                    +aside-img({
                        imgName: 'iphone'
                    })
        // Конец hero-слайда

        // Начало слайда #2
        .swiper-slide
            +block-wrapper({
                title: 'A Longwinded Header',
                textColor: 'dark',
                bg: 'grey'
            })
                +set-block('text-block')
                    +text-block({
                        text: "She'll be right paddock how lets throw a ciggies. She'll be right ute to built like a doovalacky. We're going rack off bloody she'll be right pash. You little ripper tucker also get a dog up ya greenie.",
                        type: 'regular'
                    })
                +set-block('text-block-with-ribbon')
                    +text-block({
                        text: "You little ripper boozer no worries she'll be right holy dooley!. Come a freo also as cross as a your shout. Lets throw a khe sanh flamin dead dingo's donger. Lets get some fisho with grab us a trackie dacks.",
                        type: 'with-ribbon',
                        'ribbon-color': 'blue'
                    })
                +set-block('button')
                    +text-block({
                        text: 'SAY HELLO',
                        link: '#',
                        color: 'green',
                        icon: 'fas fa-envelope'
                    })
                +set-block('aside-img')
                    +aside-img({
                        imgName: 'ipad'
                    })
        // Конец слайда #2

        // Начало слайда #3
        .swiper-slide
            +block-wrapper({
                title: 'Get a Dog Up Ya\’',
                textColor: 'dark',
                bg: 'white'
            })
                +set-block('emphasized-text')
                    +text-block({
                        text: "She'll be right paddock how lets throw a ciggies. She'll be right ute to built like a doovalacky.",
                        type: 'emphasized-text'
                    })
                +set-block('regular-text')
                    +text-block({
                        text: "We're going rack off bloody she'll be right pash. You little ripper tucker also get a dog up ya greenie."
                    })
                +set-block('button')
                    +text-block({
                        text: 'VIEW ON DRIBBLE',
                        link: '#',
                        color: 'pink',
                        icon: 'fab fa-dribbble'
                    })
                +set-block('aside-img')
                    +aside-img({
                        imgName: 'devices'
                    })
        // Конец слайда #3

        // Начало слайда #4
        .swiper-slide
            +block-wrapper({
                title: 'Like What You See?',
                textColor: 'light',
                bg: 'green'
            })
                +set-block('button')
                    +regular-btn({
                        text: 'BUY ME A BEER?',
                        link: '#',
                        color: 'white',
                        icon: 'fas fa-beer'
                    })
        // Конец слайда #4

        // Начало слайда #5
        .swiper-slide
            +block-wrapper({
                bg: 'grey'
            })
                +set-block('social-buttons')
                    +social-btn-block([
                        {
                            text: 'dribbble',
                            link: 'https://dribbble.com/',
                            icon: 'fab fa-dribbble'
                        },
                        {
                            text: 'facebook',
                            link: 'https://facebook.com/',
                            icon: 'fab fa-facebook-f'
                        },
                        {
                            text: 'twitter',
                            link: 'https://twitter.com/',
                            icon: 'fab fa-twitter'
                        },
                        {
                            text: 'mail',
                            link: 'https://mail.google.com',
                            icon: 'far fa-paper-plane'
                        }
                    ])
                +set-block('subscription-form')
                    +form({
                        purpose: 'subscribe-newsletter',
                        method: 'get',
                        action: '#'
                    })
                        +input-text({
                                purpose: 'enter-email',
                                type: 'text',
                                labelText: 'Newsletter Subscription',
                                placeholder: 'Enter Email',
                                name: 'email',
                                value: ''
                            })
                        +submit-btn({
                            icon: 'fas fa-envelope',
                            aboveInput: true
                        })
                        
            div.footer
                p.footer__text
                    | © 2013  
                    a.footer__author-link(href="#") Perth.
                    |  Breeding pixels since the naughties.
        // Конец слайда #5                                