mixin text-block(options)
    if (options.type === 'hero-text')
        p.hero-text= options.text
    else if (options.type === 'with-ribbon')
        .text-block-with-ribbon
            p.text-block-with-ribbon__text-content= options.text
    else if (options.type === 'emphasized-text')
        em.exphasized-text-block= options.text
    else
        p.text-block= options.text