mixin page-navigation(menuItems)
    //- Свойства menuItems: text (Именование пункта меню), link (ссылка), icon (иконка пукта меню)
    .page-navigation
        .navbar
            a.home-link(href="/")
                block siteIcon
            a.toggle-menu-btn(role="button")
                i.toggle-menu-btn__stroke
                i.toggle-menu-btn__stroke
                i.toggle-menu-btn__stroke
                i.toggle-menu-btn__stroke
        .site-menu-wrapper
            a.hide-menu-btn(role="button")
                i.hide-menu-btn__stroke
                i.hide-menu-btn__stroke
            ul.site-menu
                each item in menuItems
                    li.site-menu__menu-item
                        a.menu-item-link(href= item.link)
                            span.menu-item-link-text= item.text
                            .menu-item-icon-wrapper
                                i(class=`menu-item-icon-wrapper__icon ${item.icon}`)

