@import "normalize/import-now";
@import "./typography";
@import "fa-assets/fontawesome.scss";
@import "fa-assets/solid.scss";
@import "fa-assets/regular.scss";
@import "fa-assets/brands.scss";
@import "../components/page-navigation/page-navigation.scss";
@import "../components/block-wrapper/block-wrapper.scss";
@import "../components/text-component/text-block.scss";
html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

body {
    padding-top: 9px;
}

.swiper-slide {
    width: 100%;
    height: 100%;
}