mixin floating-action-btn(options)
    //- Свойства options:
    //- @icon (содержит название иконки с Font Awesome)
    button.floating-action-btn(type='button')
        i.floating-action-btn__icon(class=options.icon)